
.workspaces {
    padding: 4px;
    background-color: gray;
    border-radius: 16px;
}

.workspace { 
    transition: min-width 250ms ease, min-height 250ms ease, background-color 250ms ease;
    font-size: 0;
    min-width: 16px;
    min-height: 16px;
    border-radius: 16px;
}

button:hover > .workspace {
    background-color: pink;
}

.active {
    background-color: aqua;
    min-width: 32px;
}

.occupied {
    background-color: white;
}

.empty {
    background-color: lightgray;
}